@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    font-family: 'Poppins', sans-serif;
  }
.events-calendar{
    background: linear-gradient(90deg, rgba(77, 33, 120, 0.9), rgba(34, 108, 95, 0.9)), url('../../assets/logo.png');
  background-size: auto; /* or contain, 100% 100%, or auto */
  background-position: center center;
  background-repeat: no-repeat;
  height: max-content;
  margin: 0;
  color: var(--white);
}
  /* Tab Container */
  .Tabs {
    /* width: 80%; */
    height: auto;
    /* min-height: 400px; */
    background: rgba(141, 95, 186, 0.6);
    /* margin: 3.5rem auto 1.5rem; */
  
    /* padding: 2rem 2rem; */
    color: #E8F0F2;
    border-radius: 1.5rem;
    @media (max-width: 769px) {
     padding: 2rem 0;
    }
   }
   /* Tab Navigation */
  ul.nav {
    width: 80%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
     justify-content: center; 
    border: 1px solid #240047; 
    border-radius: 2rem;
    padding-left: 0px;
    padding-right: 0px;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
  ul.nav li {
    width: 33.33%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    margin: 0;
    font-weight: 900;
  }
  ul.nav li:nth-child(1) {
    border-radius: 0;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
  }
  ul.nav li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  ul.nav li:nth-child(3) {
    border-radius: 0;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  ul.nav li:hover {
    background: #240047;
  }
  ul.nav li.active {
    background: #240047;
  }
  /* First and Second Tab Styles */
  .FirstTab p,
  .SecondTab p,
  .ThirdTab p {
    font-size: 2rem;
    text-align: center;
  }
  .calendar-container {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
    gap: 20px;
    height: auto;
  }
  .event-marker {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
  }
  /* Example: Change the background color of the calendar */
.custom-calendar {
  background-color: #f0f0f0;
  width: 500px;
  border-radius: 20px;
}
@media screen and (max-width:786px) {
  .custom-calendar {
    width: 900px;
  }
  .calendar-container{
    gap:10px;
  }
}

/* Example: Customize the calendar header */
.custom-calendar .react-calendar__navigation {
  background-color:rgba(141, 95, 186, 0.6) ;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  height: 60px;
}
.react-calendar__navigation__label {
  font-weight: bold;
}

/* Example: Customize the calendar days */
.custom-calendar .react-calendar__month-view__days__day {
  font-size: 16px;
  color: #555;
  padding: 1em;
}
.react-calendar__month-view__weekdays {
  color: #000000;
  text-align: center;
}
.events-container{
  font-size: 1.5rem;
  font-weight: 900;
}
.calendar-details{
  font-size: 1.5rem;
}
.btn-ae{
  width: 140px;
height: 40px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */
color: #FFFFFF;
background: #226C5F;
border-radius: 5px;
letter-spacing: 1px;
float: right;
}
.plus-icon{
  padding-left: 5px;
}
.events-container > div {
  height: 100px;
  width: 400px;
  border: 1px solid #ffffff;
  margin-bottom: 20px;
  margin-top:20px;
}
/* Thumbnail Event Styling */
.thumbnail-event{
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 20px;
  width: 400px;
}